{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="jumbotron">
    <h2>Bookmark List</h2>
        <p class="lead">Bookmarks entered by users of the site</p>
</div>

<div class="row marketing">

{% bootstrap_pagination page_obj %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>URL/Title/Description</th>
			<th>Date</th>
			<th>Clicks</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody>
		{% for bmk in bookmarks %}
		<tr>
			<td><a href="{% url 'click' bmk.code %}">
				{{ bmk.print_url }}</a> <br />
				{{ bmk.title }} <br />
				{{ bmk.description }}
				</td>
			<td>{{ bmk.posted_at }}</td>
			<td><a href="{% url 'bookmark' bmk.code %}">
				{{ bmk.total_clicks }}</a></td>
			<td>{{ bmk.user.username }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>


{% bootstrap_pagination page_obj %}

{% endblock %}
